{% extends 'base.html' %}
{% block title %}Ask a Question{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Ask A Question</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="well bs-component">

            <form class="form-horizontal" method="POST" action="{{ url_for('main.ask') }}">
                <div class="form-group">
                    {{ form.csrf_token }}
                    {{ form.question.label(class="form-control-label") }}
                    {{ form.question(class="form-control form-control-lg") }}
                    {% if form.question.errors %}
                        {% for error in form.question.errors %}
                        <span class="error">
                          {{ error }}
                        </span>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Expert</label>
                    <div class="col-lg-10">
                      <select class="form-control" name="expert" id="select">
                        {% for expert in experts %}
                        <option value="{{ expert.id }}">{{ expert.username }}</option>
                        <p>{{ expert }}</p>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                    <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                  <form>


{% endblock %}